  /* Banner */
  .banner {
    display: flex;
    margin-top: 60px;

  }

  /* fim banner */


  /* Maenu Auxiliar */
  .menu_auxiliar {
    background-color: #9b98a2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
  }

  .menu_auxiliar nav {
    display: flex;
    height: 100%;
  }

  .menu_auxiliar nav button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0 15px;
    height: 100%;
  }

  .menu_auxiliar nav button:hover {
    border: 1px solid white;
  }

  .menu_auxiliar a {
    color: white;
    text-decoration: none;
  }

  /* Fim  Menu Auxiliar */



  .produtos {
    display: flex;
    padding: 20px;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
  }



  .card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 269px;
    padding: 10px 15px;
    height: 379px;
    border-radius: 10px;
    border: 1px solid rgb(241, 241, 241);
    background: #FFF;
    gap: 5px;
  }

  .card:hover {
    /* border: 1px solid #00172C; */
    transform: scale(1.05);
  }

  .card img {
    border-radius: 10px 10px 0px 0px;
    max-width: 269px;
    max-height: 150px;
    margin-bottom: 10px;
  }

  .card h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .card a {
    align-self: center;
    text-decoration: none;
    color: black;
  }

  .avaliacao {
    display: flex;
    gap: 5px;
    color: #4B4B4B;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .avaliacao .star {
    width: 15px;
  }

  .card .preco {
    color: #F00;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .card .preco a {
    color: #F00;
  }